<form class="row g-3">
    <div class="col-md-6">
      <label for="Nombre" style="color: azure;">Nombre</label>
      <input type="text" class="form-control" id="Nombre">
    </div>
    <div class="col-md-6">
        <label for="Apellidos" style="color: azure;">Apellidos</label>
        <input type="text" class="form-control" id="Nombre">
    </div>
    <div class="col-12">
        <label for="inputEmail4" style="color: azure;">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-12">
      <label for="inputAddress" style="color: azure;">Dirección</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Numero, portal, piso, letra">
    </div>
    <div class="col-md-6">
      <label for="fecha" style="color: azure;">Fecha Nacimiento</label>
      <input type="number" class="form-control" id="fecha">
    </div>
    <div class="col-md-4">
      <label for="inputState" style="color: azure;">Ciudad</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-2">
      <label for="inputZip" style="color: azure;">CP</label>
      <input type="number" class="form-control" id="inputZip">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" style="color: azure;"for="gridCheck">
          Verifícame
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Contactar</button>
    </div>
  </form>