<head>
    <meta charset="UTF-8" />
    <title>Título del artículo</title>
  
    <link rel="stylesheet" />
    <script src="scripts.js"></script>
  </head>
  <body>
    <header>
      <h1>Tecnología .Angular</h1>
      <h2>Que es Angular y sus versiones</h2>
    </header>
    <article>
        <h3>¿Que es Angular</h3>
      <p>
        Angular es un Framework de JavaScript de código abierto escrito en TypeScript. 
        Su objetivo principal es desarrollar aplicaciones de una sola página. 
        Google se encarga del mantenimiento y constantes actualizaciones de mejoras para este framework.
      </p>
      <h3>¿Porque se necesita un framework?</h3>
      <img src="../../assets/imagenes/Angular.png" alt="..." width="350" height="250px" />
      <p>
        En concreto, en el desarrollo de software, un framework es una estructura de soporte conceptual
         y tecnológica definida, generalmente, con artefactos o módulos de software específicos, 
         que pueden servir como base para la organización y desarrollo de software.
        Es decir, un framework es una especie de plantilla, esquema o estructura conceptual basada en 
        tecnología que permite trabajar de una forma mucho más sencilla. De esta forma, se evitan posibles errores de programación.

        Por tanto, un marco es un conjunto de herramientas y módulos que se pueden reutilizar para diferentes proyectos. 
        Facilitando en varios aspectos el desarrollo, mejorando el tiempo, esfuerzo, organización.
      </p>
      <h3>Versiones Angular</h3>
      «Angular» es el término general para las distintas versiones que existen. Angular se desarrolló en 2009 y, 
      como resultado, ha ido evolucionando cada vez más.

    Primero, estaba el Angular original, llamado Angular 1 y eventualmente conocido como AngularJS. Luego vinieron 
    Angular 2, 3, 4, 5, 6, 7 hasta que finalmente, la versión actual, Angular 12, lanzada el 12/05/2021. Cada versión 
    posterior de Angular mejora su predecesora, corrige errores, aborda problemas y se adapta a la creciente complejidad 
    de las plataformas actuales.
      <blockquote>
        <p>"Se el mejor en Angular"</p>
        <cite>Ismael Penalva</cite>
      </blockquote>
    </article>
  </body>
  