header {
    padding: 20px;
    background-color: #f8f8f8;
  }
  h1 {
    font-size: 42px; 
    font-weight: bold;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 24px;
    color: #666;
  }
  article {
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  p {
    font-size: 20px; 
    line-height: 1.5;
    margin-bottom: 20px;
  }
  img {
    max-width: 100%;
    margin-bottom: 20px;
    float: left; 
    margin-right: 20px; 
  }
  blockquote {
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-left: 5px solid #666;
    margin-bottom: 20px;
  }
  blockquote p {
    font-size: 18px;
    font-style: italic;
    color: #666;
  }
  cite {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-style: italic;
    color: #999;
  }
  