<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
    <div class="card" style="width: 25rem">
      <img src="../../assets/imagenes/github.png" alt="..." />

      <div class="card-body">
        <h5 class="card-title">Git Hub</h5>
        <p class="card-text">¿Quieres saber mas de GitHub?</p>
        <a routerLink="/Articulo" class="btn btn-primary">Mostrar articulo</a>
      </div>
    </div>
</div>
    <div class="col-md-6">
    <div class="card" style="width: 25rem">
      <img src="../../assets/imagenes/Angular.png" alt="..." height="250px" />
      <div class="card-body">
        <h5 class="card-title">Angular</h5>
        <p class="card-text">¿Quieres saber mas de GitHub?</p>
        <a routerLink="/Articulo2" class="btn btn-primary">Mostrar articulo</a>
      </div>
    </div>
  </div>
</div>
