<div class="skill">
<div class="container">
  <div class="row">
    <div class="col-md-6">
    <div class="card" style="width: 25rem">
      <img src="../../assets/imagenes/skill.jpg" alt="..." height="255x" />

      <div class="card-body" style="background-color: rgb(2, 69, 67);">
        <h2 class="card-title" style="color: azure;">Skills</h2>
        <p class="card-text" style="color: azure;">Java</p>
        <p class="card-text" style="color: azure;">SQL</p>
        <p class="card-text" style="color: azure;">Angular</p>
        <p class="card-text" style="color: azure;">GitHub</p>
        <p class="card-text" style="color: azure;">DJango</p>
        <br><br><br>
        
      </div>
    </div>
</div>
    <div class="col-md-6">
    <div class="card" style="width: 25rem">
      <img src="../../assets/imagenes/softskills.jpg" alt="..." height="263x" />
      <div class="card-body" style="background-color: rgb(2, 69, 67);">
        <h2 class="card-title" style="color: azure;">Soft Skills</h2>
        <p class="card-text" style="color: azure;">Trabajo en equipo</p>
        <p class="card-text" style="color: azure;">Positividad</p>
        <p class="card-text" style="color: azure;">Confianza con los compañeros</p>
        <p class="card-text" style="color: azure;">Amable</p>
        <p class="card-text" style="color: azure;">Trabajador</p>
        <p class="card-text" style="color: azure;">Compromiso</p>
        <p class="card-text" style="color: azure;">Flexibilidad</p>

      </div>
    </div>
  </div>
</div>
</div>
